<%- include("header") -%>

<h1>About Page</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsam
  accusamus, ab deleniti cupiditate earum, rerum incidunt tempora quidem, dolore
  eos ex quasi! Qui facilis, accusantium rem nemo animi itaque maiores. Deleniti
  itaque recusandae fuga exercitationem officia tempore nisi quod fugit earum
  veniam, animi tempora non laudantium. Vel tempora, incidunt possimus maxime
  placeat pariatur inventore obcaecati consequatur iure, beatae minima deleniti
  ea accusantium eveniet architecto odit aut laudantium dicta quibusdam aperiam
  quis. Quibusdam cupiditate voluptas amet doloremque molestiae veritatis eius
  nam, vel reprehenderit quidem delectus temporibus officiis debitis! Fugiat
  nesciunt odit nulla unde vitae provident ipsam dignissimos esse sapiente
  commodi.
</p>

<%- include("footer") -%>
